.hljs-comment {
    color: #5C7884;
}

.hljs-keyword, .log-boolean, .log-undefined {
    color: #CC80FF;
}

.hljs-number, .hljs-literal, .log-number {
    color: #FF8A66;
}

.hljs-string, .log-string {
    color: #C8FF75;
}

.hljs-variable, .hljs-property {
    color: #FF6169;
}

.hljs-title.function_ {
    color: #80A8FF;
}

.hljs-params, .hljs-title.class_ {
    color: #FFBF47;
}

.hljs-function, .hljs-attr, .hljs-subst, .hljs-built_in, .log-object {
    color: #8ADEFF;
}